In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [1]:
spark = SparkSession.builder.appName("df_schema_dt").getOrCreate()

In [10]:
data_created =[("1FDavid","1MDavid","1LDavid","112345","M",3000),
       ("2FDavid","2MDavid","","2212345","M",32000),
       ("3FDavid","3MDavid","3LDavid","3312345","M",31000),
       ("4FDavid","4MDavid","","4412345","F",13000),
       ("5FDavid","5MDavid","4LDavid","5512345","M",43000),
       ("6FDavid","","1LDavid","6612345","M",33000),
       ("7FDavid","7MDavid","5LDavid","7712345","F",63000),
       ("8FDavid","8MDavid","6LDavid","99912345","F",83000)
      
      
      ]

In [11]:
schema_created = StructType([
    StructField("FirstName", StringType(), True),
    StructField("MiddleName", StringType(), True),
    StructField("LastName", StringType(), True),
    StructField("ID", StringType(), True),
    StructField("Gender", StringType(), True),
    StructField("Salary", IntegerType(), True)
])

In [12]:
df = spark.createDataFrame(data = data_created, schema=schema_created)
df.printSchema()

root
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [13]:
df.show(truncate=False)

+---------+----------+--------+--------+------+------+
|FirstName|MiddleName|LastName|ID      |Gender|Salary|
+---------+----------+--------+--------+------+------+
|1FDavid  |1MDavid   |1LDavid |112345  |M     |3000  |
|2FDavid  |2MDavid   |        |2212345 |M     |32000 |
|3FDavid  |3MDavid   |3LDavid |3312345 |M     |31000 |
|4FDavid  |4MDavid   |        |4412345 |F     |13000 |
|5FDavid  |5MDavid   |4LDavid |5512345 |M     |43000 |
|6FDavid  |          |1LDavid |6612345 |M     |33000 |
|7FDavid  |7MDavid   |5LDavid |7712345 |F     |63000 |
|8FDavid  |8MDavid   |6LDavid |99912345|F     |83000 |
+---------+----------+--------+--------+------+------+

In [15]:
file_loc = "../data/1000 Records.csv"

In [20]:
file_loc = "../data/1000 Records.csv"
emp_df = spark.read.csv(file_loc, header=True, inferSchema=True)
emp_df.select("Emp ID", "First Name", "Gender", "SSN", "Zip").show(4, truncate=True)

+------+----------+------+-----------+-----+
|Emp ID|First Name|Gender|        SSN|  Zip|
+------+----------+------+-----------+-----+
|850297|    Shawna|     F|222-11-7603|89128|
|304721| Nathaniel|     M|550-99-9897|49644|
|412317| Elisabeth|     F|215-91-0004|40501|
|621375|    Briana|     F|534-71-1053|46321|
+------+----------+------+-----------+-----+
only showing top 4 rows

In [18]:
emp_df.printSchema()

root
 |-- Emp ID: integer (nullable = true)
 |-- Name Prefix: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Middle Initial: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- E Mail: string (nullable = true)
 |-- Father's Name: string (nullable = true)
 |-- Mother's Name: string (nullable = true)
 |-- Mother's Maiden Name: string (nullable = true)
 |-- Date of Birth: string (nullable = true)
 |-- Time of Birth: string (nullable = true)
 |-- Age in Yrs.: double (nullable = true)
 |-- Weight in Kgs.: integer (nullable = true)
 |-- Date of Joining: string (nullable = true)
 |-- Quarter of Joining: string (nullable = true)
 |-- Half of Joining: string (nullable = true)
 |-- Year of Joining: integer (nullable = true)
 |-- Month of Joining: integer (nullable = true)
 |-- Month Name of Joining: string (nullable = true)
 |-- Short Month: string (nullable = true)
 |-- Day of Joining: integer (nullable = true)
 |-- DOW of Joining: string (nullable = true)
 |-- Short DOW: string (nullable = true)
 |-- Age in Company (Years): double (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Last % Hike: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Phone No. : string (nullable = true)
 |-- Place Name: string (nullable = true)
 |-- County: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- User Name: string (nullable = true)
 |-- Password: string (nullable = true)

In [35]:
outpath_path = "../data_output"
## emp_df
df.write.format("parquet")\
         .mode("overwrite")\
         .save(outpath_path)