In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("using_Filters").getOrCreate()

In [2]:
df = spark.read.csv("../data/data_proper.csv", header=True, inferSchema=True)
df.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| David| 50|        20| 20000|
|Daniel| 25|         2|  3000|
|  John| 30|        13|  5000|
| Smith| 43|        15| 60000|
|   Joe| 40|         3| 50000|
|  Kyle| 55|        60| 45000|
+------+---+----------+------+

In [3]:
### FILTER OPERATIONS

In [ ]:
### SALARY OF PEOPLE LESS THAN 20,000

In [6]:
df.filter(df.Salary <= 20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| David| 50|        20| 20000|
|Daniel| 25|         2|  3000|
|  John| 30|        13|  5000|
+------+---+----------+------+

In [7]:
df.filter("Salary <= 20000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| David| 50|        20| 20000|
|Daniel| 25|         2|  3000|
|  John| 30|        13|  5000|
+------+---+----------+------+

In [8]:
df.filter("Salary <= 20000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
| David| 50|
|Daniel| 25|
|  John| 30|
+------+---+

In [9]:
df.filter(df['Salary'] <= 20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| David| 50|        20| 20000|
|Daniel| 25|         2|  3000|
|  John| 30|        13|  5000|
+------+---+----------+------+

In [15]:
### NOT OPERATIONS 
df.filter(~(df['Salary'] <= 20000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Smith| 43|        15| 60000|
|  Joe| 40|         3| 50000|
| Kyle| 55|        60| 45000|
+-----+---+----------+------+

In [10]:
df.filter((df['Salary'] <= 20000) & (df['Salary'] > 3000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|David| 50|        20| 20000|
| John| 30|        13|  5000|
+-----+---+----------+------+