In [2]:
import pyspark

In [35]:
import pandas as pd
pd.read_csv('../data/test1.csv')

    Name\tAge
0   David\t50
1  Daniel\t25
2    John\t30
3   Smith\t43

In [21]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice").getOrCreate()

In [22]:
spark

In [36]:
# df_pysprak = spark.read.csv('../data/test1.csv')
df_pyspark=spark.read.option("delimiter","\t").option('header', 'true').csv('../data/test1.csv')
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
| David| 50|
|Daniel| 25|
|  John| 30|
| Smith| 43|
+------+---+

In [37]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [38]:
df_pyspark.head(3)

[Row(Name='David', Age='50'),
 Row(Name='Daniel', Age='25'),
 Row(Name='John', Age='30')]

In [39]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)