In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('../data/test2.csv')

     Name  Age  Experience
0   David   50           20
1  Daniel   25            2
2    John   30           13
3   Smith   43           15

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice").getOrCreate()

In [22]:
spark

In [4]:
# df_pysprak = spark.read.csv('../data/test1.csv')
df_pyspark=spark.read.option('header', 'true').csv('../data/test2.csv')
df_pyspark.show()

+------+---+-----------+
|  Name|Age|Experience |
+------+---+-----------+
| David| 50|         20|
|Daniel| 25|          2|
|  John| 30|         13|
| Smith| 43|         15|
+------+---+-----------+

In [5]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [6]:
df_pyspark.head(3)

[Row(Name='David', Age='50', Experience ='20'),
 Row(Name='Daniel', Age='25', Experience ='2'),
 Row(Name='John', Age='30', Experience ='13')]

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience : string (nullable = true)

In [ ]:
# NEW CODE

In [8]:
from pyspark import SparkSession

ImportError: cannot import name 'SparkSession' from 'pyspark' (/Users/podisha/opt/anaconda3/lib/python3.8/site-packages/pyspark/__init__.py)

In [9]:
spark = SparkSession.builder.appName("practice2").getOrCreate()

In [11]:
spark

In [23]:
#read the dataset
#If inferSchema true is not given it considers all details as STRING  
df_pyspark = spark.read\
            .option('header','true')\
            .option('inferSchema','true')\
            .csv("../data/test2.csv")

In [27]:
## Check the schema check the data types of the columns 
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience : integer (nullable = true)

In [43]:
df_pyspark = spark.read.csv('../data/test2.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| David| 50|        20|
|Daniel| 25|         2|
|  John| 30|        13|
| Smith| 43|        15|
+------+---+----------+

In [44]:
type(df_pyspark)
# data frame is a data structures

pyspark.sql.dataframe.DataFrame

In [45]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [46]:
df_pyspark.head(3)

[Row(Name='David', Age=50, Experience=20),
 Row(Name='Daniel', Age=25, Experience=2),
 Row(Name='John', Age=30, Experience=13)]

In [47]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
| David|
|Daniel|
|  John|
| Smith|
+------+

In [51]:
df_pyspark.select('Name','Experience').show()

+------+----------+
|  Name|Experience|
+------+----------+
| David|        20|
|Daniel|         2|
|  John|        13|
| Smith|        15|
+------+----------+

In [55]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [56]:
df_pyspark.describe().show()

+-------+------+-----------------+-----------------+
|summary|  Name|              Age|       Experience|
+-------+------+-----------------+-----------------+
|  count|     4|                4|                4|
|   mean|  null|             37.0|             12.5|
| stddev|  null|11.51810169544733|7.593857166596345|
|    min|Daniel|               25|                2|
|    max| Smith|               50|               20|
+-------+------+-----------------+-----------------+

In [60]:
### ADDING COLUMNS TO THE EXISTING DATA FRAMES

df_pyspark_withExp = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [61]:
df_pyspark_withExp.show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience After 2 years|
+------+---+----------+------------------------+
| David| 50|        20|                      22|
|Daniel| 25|         2|                       4|
|  John| 30|        13|                      15|
| Smith| 43|        15|                      17|
+------+---+----------+------------------------+

In [63]:
### DROPING THE COLUMNS 
df_pyspark_original = df_pyspark_withExp.drop('Experience After 2 years')

In [64]:
### RENAMING COLUMNS  
df_pyspark_original.withColumnRenamed('Name', 'NewName').show()

+-------+---+----------+
|NewName|Age|Experience|
+-------+---+----------+
|  David| 50|        20|
| Daniel| 25|         2|
|   John| 30|        13|
|  Smith| 43|        15|
+-------+---+----------+